.recipe-img {
    height: auto;
    max-width: 100%;
    height: 356px;
    object-fit: cover;
    animation: 1s all ease;
}

/* .recipe-img:hover{
    height: 130%;
    width: 130%;
    overflow: hidden;
} */

.meal-type {
  color: #7a7a7a;
  font-family: inherit;
}

.cuisine-type-capsule {
  position: absolute;
  background: red;
  color: white;
  padding: 6px 20px;
  border-radius: 33px;
  top: 10px;
  left: 10px;
  font-family: inherit;
}

.heading {
  color: #4b4b4b;
}
