<div class="container">
    <!-- ********** Icon Boxes ********** -->
    <div class="row">
        <div class="col-12">
            <div class="elements-title mb-80">
                <h2>Features</h2>
            </div>
        </div>
    </div>
    <div class="col-12 ">
        <div class="row">

            <!-- Single Course Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-feature-area mb-80">
                    <div class="d-flex align-items-center mb-30">
                        <img src="./../../../assets/img/core-img/hamburger2.png" alt="">
                        <h5>Amazing Recipies</h5>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec varius dui. Suspendisse
                        potenti. Vestibulum ac pellentesque tortor.</p>
                </div>
            </div>

            <!-- Single Course Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-feature-area mb-80">
                    <div class="d-flex align-items-center mb-30">
                        <img src="./../../../assets/img/core-img/pizza.png" alt="">
                        <h5>Italian Food</h5>
                    </div>
                    <p>Aenean congue sed metus in iaculis. Cras a tortor enim. Phasellus posuere vestibulum ipsum, eget
                        lobortis purus. Orci varius natoque penatibu.</p>
                </div>
            </div>

            <!-- Single Course Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-feature-area mb-80">
                    <div class="d-flex align-items-center mb-30">
                        <img src="./../../../assets/img/core-img/cake2.png" alt="">
                        <h5>Sweets &amp; Cakes</h5>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec varius dui. Suspendisse
                        potenti. Vestibulum ac pellentesque tortor.</p>
                </div>
            </div>

        </div>
    </div>
</div>